.wrapper{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.gameBox {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  gap: 2px;

}
.gameBox > div{
  height: 100px;
  width: 100px;
  border: 0.2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  cursor: pointer;
}
.restartBtn{
  border: none;
  outline: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
}