.header{
    /* border: 1px solid red; */
    padding: 0 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    /* width: 100vw; */
    background: linear-gradient(to left, #fbfaf3 50%, #ffffff 50%);

}
.companyName{
    font-size: 30px;
    font-weight: 700;
}
.companyName > span {
    color: #fcbe0c;

}
.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 600;
}
.option{
    text-decoration: none;
    color: black;

}
.option:hover{
    transition: transform .7s ease-out;
    transform: scale(1.2);
    cursor: pointer;
}
