
  
  .formTopbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menuBoxStyle {
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: transform 1.25s ease-out;
    z-index: 200;
    align-items: flex-start;
    height: 100vh;
    width: 30vw;
    padding: 20px;
    border-radius: 5px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .menuBoxStyleVisible {
    transform: translate(0);
  }
  
  .menuBoxStyleHidden {
    transform: translate(100vw);
    transition: transform 3s ease-out;

  }
  .wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 40
  }
  .container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  



