.wrapper{
    /* border: 1px solid red; */
    height: 3.5rem;
    border-radius: 50px;
    width: 65%;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    padding: 0.7rem 2rem;
    box-sizing: border-box;

}
.searchIcon{
    font-size: 1.35rem;
    color: grey;
}
.input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 1rem;
}
.input::placeholder{
    color: rgb(162, 161, 161);
    font-size: 0.75rem;
}
.searchBtn{
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(6, 86, 6);
    cursor: pointer;
}
.hrLine{
    width: 65%;
    margin: 0 auto;
    margin-top: 3rem;
}