:root {
  --btn-color:rgb(127,206,207);
  --btn-color-hover: rgb(108,188,188);
  --table-head-bgc: rgb(224,233,249);
}
.topBar{
  display: flex;
  justify-content: space-between;
  margin: 20px
}
.saveBtn{
  width: 120px;
  height: 40px;
  background-color: var(--btn-color);
  color:white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--btn-color);
  cursor: pointer;
  z-index: 5;
}
.saveBtn:hover{
  background-color: var(--btn-color-hover);
}

svg:hover{
  cursor: pointer;
}


.printHello{
  margin: 50px;
}